/*
 * @Author: HuangQS
 * @Date: 2021-09-17 18:27:45
 * @LastEditors: HuangQS
 * @LastEditTime: 2021-10-22 18:33:15
 * @Description: 基础样式
 */

.base-input-wrapper {
    /* Form中input组件基础宽度 */
    width: 380px !important;
}

.pagination-box {
    /* 分页组件 */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.alert-box {
    display: flex;
    flex-direction: row;
}